appdirs==1.4.4
attrs==21.2.0
backports.entry-points-selectable==1.1.0
bento-lib==3.0.1
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.4
codecov==2.1.12
coverage==5.5
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
idna==2.10
importlib-metadata==4.6.3
jsonschema==3.2.0
mccabe==0.6.1
more-itertools==8.8.0
packaging==21.0
platformdirs==2.2.0
pluggy==0.13.1
psycopg2-binary==2.9.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pyrsistent==0.18.0
redis==3.5.3
requests==2.26.0
six==1.16.0
toml==0.10.2
tornado==6.1
tox==3.24.1
urllib3==1.26.6
virtualenv==20.7.0
Werkzeug==2.0.1
zipp==3.5.0
