name: Lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]

    steps:

    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry
      run: python -m pip install poetry

    - name: Install dependencies
      run: python -m poetry install

    - name: Format check
      run: poetry run ruff format --check

    - name: Lint
      run: poetry run ruff check
